<!DOCTYPE html>
<html>
  <head>
    <title>Heroku<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>hi <%= title %></h1>
    <p>Welcome to heroku-<%= title %></p>
  </body>
</html>
